.dashboard{
  display: flex;
  justify-content: center;
  text-align: center;
}

.points{
  display: flex;
  justify-content: flex-end;
  color: #0012F5;
  font-family: 'Press Start 2P', cursive;
  position: left;
  font-size: 40px;
}

.points1{
  display: flex;
  justify-content: flex-end;
  color: #00F565;
  font-family: 'Press Start 2P', cursive;
  position: left;
  font-size: 40px;
}

.points2{
  display: flex;
  justify-content: flex-end;
  color: #F5E82D;
  font-family: 'Press Start 2P', cursive;
  position: left;
  font-size: 40px;
}

.points3{
  display: flex;
  justify-content: flex-end;
  color: #F56F00;
  font-family: 'Press Start 2P', cursive;
  position: left;
  font-size: 40px;
}

.points4{
  display: flex;
  justify-content: flex-end;
  color: #F52200;
  font-family: 'Press Start 2P', cursive;
  position: left;
  font-size: 40px;
}
