.dashboard{
  display: flex;
  justify-content: center;
  text-align: center;
}

.points{
  position: absolute;
  margin-left: 350px;
  margin-top: 70px;
  color: #0012F5;
  font-size: 40px;
}

.points1{
  position: absolute;
  color: #00F565;
  position: left;
  font-size: 40px;
}

.points2{
  position: absolute;
  color: #F5E82D;
  position: left;
  font-size: 40px;
}

.points3{
  position: absolute;
  color: #F56F00;
  position: left;
  font-size: 40px;
}

.points4{
  position: absolute;
  color: #F52200;
  position: left;
  font-size: 40px;
}

.tally{
  position: absolute;
  float: left;
  color: #F52200;
  position: left;
  font-size: 40px;
}
