
.redTable{
  background-color: #F56462;
  position: center;
  margin: 15px 15px;
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
  width: 350px;
  min-height: 350px;
  text-align: left;
  word-wrap: break-word;
  border-radius: 0px;
  padding: 10px;
}

.greenTable{
  background-color: #0FC013;
  position: center;
  margin: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  min-height: 350px;
  text-align: left;
  word-wrap: break-word;
  border-radius: 0px;
  padding: 10px;
}

.elementTable{
  position: center;
  margin: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  min-height: 350px;
  background-color: #fff;
  text-align: left;
  word-wrap: break-word;
  border-radius: 0px;
  color: #535969;
  padding: 10px;
}

.periodic{
  background: black;
}
.elementTable:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  color: #000000;
}

.guessElement {
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}

.name{
  display: flex;
  justify-content: center;
  font-size: 25px;
  letter-spacing: 2px;
}

.number{
  margin-top: 25px;
  margin-left: 25px;
  font-size: 25px;
}

.atomicWeight{
  font-size: 25px;
  text-align: center;
}

.symbol{
  display: flex;
  justify-content: center;
  font-size: 150px;
  font-weight: 900;
  margin-bottom: 10px;
}


.next{
  background: rgba(0,128,128,0.9);
  width: 100%;
  margin-top: 20px;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
      background: -moz-linear-gradient(
      top,
      #b9c5dd 0%,
      #a4b0cb);
  opacity: 0.7;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #737b8d;
  -moz-box-shadow:
      0px 5px 5px rgba(000,000,000,0.1),
      inset 0px 1px 0px rgba(255,255,255,0.5);
  -webkit-box-shadow:
      0px 5px 5px rgba(000,000,000,0.1),
      inset 0px 1px 0px rgba(255,255,255,0.5);
  box-shadow:
      0px 5px 5px rgba(000,000,000,0.1),
      inset 0px 1px 0px rgba(255,255,255,0.5);
  text-shadow:
      0px 1px 3px rgba(000,000,000,0.3),
      0px 0px 0px rgba(255,255,255,0);
  display: table;
  position: static;
  clear: both;
}

.next:hover{
  background: #008282;
}

.endButton{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 35px;
  width: 25px;
  height: 25px;
}

.endCheck{
  font-size: 0px;
}

.endButton:hover .endCheck{
  font-size: 15px;
  z-index:10;
  position: relative;
  box-shadow: 0 3px 5px 0 #000000;
  border: 2px #888888;
  color:    #b5b5b5;
  text-align: center;
  background: white;
  width: 105px;
  min-height: 65px;
}


/* Media Queries */
@media(max-width: 600px) {
  .flexContainer {
    padding-left: 67px;
  }
}
