.nav {
  background: rgba(66,128,74,0.3);
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
  box-shadow: 0px 0px 12px;
}
.navigation {
  background: #ffff;
  opacity: 0.7;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
}
ul {
  margin: 0;
  padding: 0;
}

ul li{
  float: left;
  margin: 0;
}

li .nav-item {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

li .navigation-item{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 550;
  letter-spacing: 1px;
}

li .nav-item:hover:not(.active) {
  background-color: #42804A;
  opacity: 0.9;
  color: #FFFFFF;
  text-shadow: 0px 0px 2px rgba(0,255,255,0.5);
  box-shadow: 0px 0px 1px;
}

li .navigation-item:hover:not(.active) {
  background-color: #293310;
  opacity: 1;
  box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
  color: #FFFFFF;
}

.active {
  background-color: #6A5ACD;
}
li.right{
  position: absolute;
  right: 10px;
  top: 0px;
}

li.login{
  position: absolute;
  right: 10px;
  top: 0px;
}

.logout-button{
  margin-top: 3px;
  background: rgba(66,128,74,0.0);
  padding: 10px 10px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.logout-button:hover{
    background-color: #42804A;
    opacity: 0.9;
    color: #FFFFFF;
    text-shadow: 1px 1px #928FB2;
}
