

ul {
  margin: 0;
  list-style-type: none;
}

.progressHeader{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.Progress{
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 400px;
}

.progressBox{
  width: 80px;
  padding: 3px, 3px, 3px, 3px;
    margin-left: 3px;
  height: 80px;
  box-shadow: 0 1px 1px 0 #000000;
  border: 1px #888888;
  text-align: center;
  background-color: #009499;
}

.littleElement{
  margin: 10px, 10px, 10px, 10px;
  text-align: center;
  color: white;
}

.littleElement:hover{
  opacity: 0.9;
  z-index:10;
  position: relative;
  background: #008080;
  box-shadow: 0 3px 5px 0 #000000;
  border: 2px #888888;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0,255,255,0.5);
  width: 165px;
  min-height: 165px;
}

.progressElementSymbol{
  margin: 3px;
}

.progressElementName{
  color: #ffbdbd;
  font-size: 0px;
}

.incorrectElement{
  color: #ffbdbd;
  font-size: 0px;
}

.correctElement{
  color: #ffbdbd;
  font-size: 0px;
}

.littleElement:hover .progressElementName {
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0px;
}

.littleElement:hover .correctElement {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0px;
}

.littleElement:hover .incorrectElement {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0px;
}
