.home{
  display: flex;
  justify-content: center;
}

.login-form {
    padding: 0px 25px 25px;
    color: #888888;
    background: #fff;
    box-shadow:
        0px 0px 0px 5px rgba( 255,255,255,0.4 ),
        0px 4px 20px rgba( 0,0,0,0.33 );
    border-radius: 5px;
    display: table;
    position: static;
    margin-top: 30px;
}

a { color: inherit; }

header {
    margin-bottom: 30px;
    border-radius: 1px grey;
}

h2 {
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

.loginLabels{
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px grey;
}

.separation {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 10px -25px;
}

label {
text-rendering: auto;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 1px;
text-shadow: 1px;
display: inline-block;
text-align: start;
margin: 0em;
font: 400 18px system-ui;
}

input  {
    background: #f5f5f5;
    font-size: 0.8rem;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}
input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

.signUpButton {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: #8ABFDD;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

.signUpButton:hover {
    background: #53B5E6;
}
